config:
  logLevel: debug
  logFormat: json
  route:
    - match:
      - receiver: "loki"
    receivers:
      - name: "loki"
        webhook:
          endpoint: "${loki_gateway_monitoring_url}/loki/api/v1/push"
          headers:
            User-Agent: kube-event-exporter 1.0
