config:
  logLevel: debug
  logFormat: json
  route:
    routes:
      - match:
        - receiver: "dump"
        - receiver: "loki"
      - drop:
        - namespace: "monitoring"
    receivers:
      - name: "dump"
        stdout: {}
      - name: "loki"
        loki:
          streamLabels:
            kube-api: true
          url: ${loki_gateway_monitoring_url}/loki/api/v1/push
